/* src/index.css */
@import "tailwindcss";

/* Latar Belakang Dasar */
@layer base {
  body {
    background-color: #141414; /* Latar belakang gelap seperti Netflix */
    color: #e5e5e5;
    font-family: "Poppins", sans-serif; /* Font dari index.html */
  }
}

/* Kustomisasi Scrollbar (Gaya Netflix) */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #555 transparent; /* thumb, track */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Untuk scroll vertikal */
  height: 8px; /* Untuk scroll horizontal */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
  border: 2px solid transparent; /* Memberi sedikit "padding" */
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
